
#doc-box, #analysis-box {
    background-color: white;
    overflow: auto;
}

#doc-box {
    white-space: pre-wrap;
    padding: 20px;
}
#analysis-box > div {
    width: 50%;
    height: 50%;
    float: left;
    position: relative;
}