
#doc-box, #analysis-box {
    background-color: white;
    overflow: auto;
}

#doc-box {
    white-space: pre-wrap;
    padding: 20px;
}
#analysis-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 10px;
}
#analysis-box > div {
    height: 50vh;
    position: relative;
}