html, body {
    margin: 0;
    padding: 0;
    background-color: #1B0E3E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Paletton color palette */

.color-primary-0 { color: #2E1F58 }	/* Main Primary color */
.color-primary-1 { color: #5F5087 }
.color-primary-2 { color: #43346D }
.color-primary-3 { color: #1B0E3E }
.color-primary-4 { color: #0C0425 }

.rgba-primary-0 { color: rgba( 46, 31, 88,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba( 95, 80,135,1) }
.rgba-primary-2 { color: rgba( 67, 52,109,1) }
.rgba-primary-3 { color: rgba( 27, 14, 62,1) }
.rgba-primary-4 { color: rgba( 12,  4, 37,1) }


.screenbox {
    height: 100vh;
    overflow: auto;
    position: relative;
}

#splash-box {
    display: flex;
    align-items: center;
}
.splash {
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}
.logo {
    font-size: 36pt;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.logo .icon {
    display: inline-block;
    vertical-align: middle;
    width: 36pt;
    height: 36pt;
    background-color: rgb(157, 141, 202);
    background-image: url(clearlaw_logo_white.svg);
    background-size: 34pt;
    background-position: center center;
    background-repeat: no-repeat;
}
.logo .accent {
    color: rgb(157, 141, 202);
}
.tagline {
    color: #D0D0D0;
    font-size: 16px;
    margin-top: 50px;
}

.button {
    background-color: white;
    color: #0C0425;
    line-height: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

#splash-box .button, #submit-box #button-wrapper {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    cursor: pointer;
}

.button input[type=file], .button button {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: inherit;
}

#page-container {
    margin: 20px;
    height: 60vh;
    overflow: auto;
}
#page {
    box-sizing: border-box;
    height: 60vh;
    width: 44vh; /* US letter proportions */
    background-color: rgba(255,255,255,.5);
    margin-right: 20px;
    overflow: hidden;
}
#page.empty {
    border: dashed 5px white;
}
#page.empty img {
    display: none;
}
#page.submitted {
    border: solid 5px white;
    background-color: white;
}

#page img {
    height: 100%;
}

#button-wrapper .button {
    margin-top: 20px;
}

#btn-upload {
    background-color: #5F5087;
    color: white;
    border: none;
}

#doc-box {
    background-color: white;
}